<!DOCTYPE html>

<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static',filename='css/home.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Macondo|Lato|Indie+Flower|Shadows+Into+Light|Ruda|Source+Sans+Pro" rel="stylesheet">

<style>

.navB{
  background-color: #336B8C;
}

.bod{
  background-color: #6C2676;
}

.b{
  background-color: #336B8C;
}

.dirName {
  font-weight: bold;
}

img{
  display: block;
  margin: 0 auto;
}
.bord{
  border: 1px solid #eeeeee;
  padding: 50px;
}

.backColor{
  background-color: white;
}

.button{
  background-color: #6C2676;
}

.foot{
  padding-top: 20px;
  padding-bottom: 20px;
}

</style>
</head>
<body class="grey lighten-5">

<!-- Nav bar -->

<nav class="navB">
  <div class="nav-wrapper">
    <a href="3" class="brand-logo right" id="logoFont">Family Promise</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/login">Home</a></li>
    </ul>
  </div>
</nav>

<!-- Hero Im -->

<div class="bod">
<img src="http://nebula.wsimg.com/73296e0fb2d3a51de3d48554005c833a?AccessKeyId=B60D16D0521925C997F8&disposition=0&alloworigin=1"
alt="Lake" width="90%" height: "200px" background-color: "#eeeeee" >
</div>

<!-- info -->

  <div class="container">
      <div class="row">
          <div class="col s6">
              <h2 class="center-align">Regional Directors</h2>
              <div class="bord">
              <p class="dirName">Jeanna Beck</p>
                <p>MI, IL, IN, OH, KY, TN, VA, NC, SC, WY, UT, CO, Northern GA
                <br>(317) 318-3646</p>
              <p class="dirName">Angelica Johnson</p>
                <p>ME, NH, MA, CT, NY, PA, NJ, MD, DE, NV
                <br>(908) 273-1100, ext. 20</p>
              <p class="dirName">Stacy Pollard</p>
                <p>WA, OR, CA, ID, MT, AK
                <br>(971) 506-3724</p>
              <p class="dirName">Teressa Ramsey</p>
                <p>MN, WI, IA, KS, MO, AZ, NM, TX, OK, AR, LA, MS, AL, FL, HI, Southern GA
                <br>(251) 979-1496</p>
              </div>
          </div>
          <div class="col s6">
              <h2 class="center-align">Login</h2>
              <div class="bord">
              <div class="row">
                  <form class="col s12">
                      <div class="row">
                          <div class="input-field col s12">
                              <input id="email" type="email" class="validate"
                              placeholder="Email">
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s12">
                              <input id="pass" type="password" class="validate"
                              placeholder="Password">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col s12">
                              <p>
                                  <input type="checkbox" id="remember">
                                  <label for="remember">Remember me</label>
                              </p>
                          </div>
                      </div>
                      <div class="divider"></div>
                      <div class="row">
                          <div class="col m12">
                              <p class="center-align">
                                  <a href="/profiles"</a>
                                  <button class="btn btn-large waves-effect waves-light button" type="button" name="action">Login</button>
                              </p>
                          </div>
                      </div>
                  </form>
              </div>
            </div>
          </div>
      </div>
  </div>

<!-- Footer -->

  <footer class="footer-copyright navB foot">
      <div class="container white-text">
        Code For Good 2017 Jersey City
      </div>
  </footer>

</body>
</html>
