<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Family Profile Display</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static',filename='css/home.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Macondo|Lato|Indie+Flower|Shadows+Into+Light|Ruda|Source+Sans+Pro" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet" />
  <style>
    * { background-color: #F5F5F5;
        padding-left: 5px; 
        padding-right: 5px; }
    .divider { padding: 0px; }
  </style>
</head>
<body>
  <h2>Family Name: Weber</h2>
  <div class="divider"></div>
  <div class="section">
    <h5>Contact Info</h5>
    <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Primary form of contact:Fredrika Weber</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i>Phone:(743)-355-8197</p>
    <p><i class="fa fa-envelope" aria-hidden="true"></i>Email:wfred23@gmail.com<a href="mailto:wfred23@gmail.com"></a></p>
    <p><i class="fa fa-home" aria-hidden="true"></i>Address:N/A</p> <!-- perhaps google maps link -->
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Personal Info</h5>
    <p><i class="fa fa-bed" aria-hidden="true"></i>Home Status:Currently own a house</p>
    <p><i class="fa fa-briefcase" aria-hidden="true"></i>Employment Status:Unemployed</p>
    <p><i class="fa fa-heartbeat" aria-hidden="true"></i>Medical Needs: N/A /p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Circumstances</h5>
    <p>Stuff: Had Stage 4 Lukemia, but has since recovered </p>
  </div>     
</body>
</html>
