<!DOCTYPE html>
<!-- ==============================
    Project:        Family Promise Project  
    Author:         Aaron, Anna, Eric, Abhay, Tim, David
    ================================== -->
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <title>Family Promise Project</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="Aaron, Anna, Eric, Abhay, Tim, David" content="Create Family Info">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static',filename='css/home.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Macondo|Lato|Indie+Flower|Shadows+Into+Light|Ruda|Source+Sans+Pro" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/materialize.js')}}"></script>
  <script src="{{ url_for('static',filename='js/map.js')}}"></script>
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
 
</head>

<body>
    <div class="row">
      <div class="col-md-7 col-sm-6 col-xs-12 sm-margin-b-50">
          
          
        </div>
    </div>
     <div class="col-md-3 col-sm-6">
           
        </div>
                       
</body>
    
    
</html>