<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static',filename='css/home.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Macondo|Lato|Indie+Flower|Shadows+Into+Light|Ruda|Source+Sans+Pro" rel="stylesheet">
	<title></title>
</head>
<body>

    <!-- Title -->
    <div class="card-panel teal lighten-2">This is a card panel with a teal lighten-2 class</div>

    <!-- Page Layout -->
    <div class="row">

	    <div class="col s3 m4 l3 teal lighten-2">
	        <div class="container">
	        	<div class="row"> 
	        		<p id="first">Family 1</p>
	        		<a class="waves-effect waves-light btn" onclick="clicked()">Edit</a>
	        	</div>
	        	<div class="row">
	        		<p>Family 2</p>
	        		<a class="waves-effect waves-light btn" id="taco">Edit</a>
	        	</div>
	        </div>
	    </div>

      <div class="col s9 m8 l9 #bdbdbd grey">
        <div class="container">
        	<p>Family Info</p>
        	<p>Family Info</p>
        	<p>Family Info</p>
        	<p>Family Info</p>
        	<p>Family Info</p>
        	<p>Family Info</p>
        	<p>Family Info</p>
        	<p>Family Info</p>
        	<p>Family Info</p>
        	<p>Family Info</p>
        </div>
      </div>

    </div>

<!-- Javascript -->
<script>
 function clicked() {
    document.getElementById("first").innerHTML = "changed.";
}
</script>
</body>
</html>

